.br-cases {
  
  &__title {

    font-size: 30px;
    font-weight: bold;
    color: @dark-blue-gray;
  }

  &__title-wrapper {

    display: flex;
    justify-content: space-between;

    margin: 0 100px;

    @media @phone {

      margin: 0 30px;
    }
  }

  &__btn-wrapper {

    display: none;

    @media @phone {

      display: flex;
      justify-content: space-between;
    }
  }

  &__button {

    background: none;

    cursor: pointer;

    &--back {

      svg{

        transform: rotate(180deg);
      }
    }
  }

  &__carousel {

    margin: 30px 100px;
    display: flex;
    justify-content: space-between;

    @media @phone {

      margin: 30px;

      overflow: hidden;
    }
  }

  &__arrow {

    width: 39px;
    height: 11px;
  }
}
