.br-order-board {
  &__title {
    font-size: 42px;
    color: #0f2135;
    font-weight: bold;

    @media @phone {

      width: 310px;

      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__signature {
    margin-top: 33px;

    font-size: 28px;
    max-width: 769px;
    text-align: center;
    color: #0f2135;

    @media @phone {
      
      font-size: 18px;
      max-width: 350px;
    }
  }

  &__btn {
    margin-top: 31px;
  }
}
